{% extends "layout.html" %}
{% block content %}
    <h1><strong>Station 41009 - CANAVERAL 20 NM Southeast of Cape Canaveral, FL</strong></h1>
    <h3 style="padding-top:20px">Owned and maintained by National Data Buoy Center<br />
    3-meter foam buoy<br />
    SCOOP payload<br />
    28.508 N 80.185 W (28&deg30'27" N 80&deg11'6" W)</h3>

    <p style="padding-top:20px">
        <strong>Site elevation:</strong> sea level<br />
        <strong>Air temp height:</strong> 3.7m above site elevation<br />
        <strong>Anemometer height:</strong> 4.9m above site elevation<br />
        <strong>Barometer elevation:</strong> 2.7m above mean sea level<br />
        <strong>Sea temp depth:</strong> 1.5m below water line<br />
        <strong>Water depth:</strong> 42m<br />
        <strong>Watch circle radius:</strong> 115 yards
    </p>
{% endblock content %}