{% extends "layout.html" %}
{% block content %}
    <h1><strong>Station 41008 - GRAYS REEF - 40 NM Southeast of Savannah, GA</strong></h1>
    <h3 style="padding-top:20px">Owned and maintained by National Data Buoy Center<br />
    3-meter discus buoy<br />
    ARES payload<br />
    31.400 N 80.866 W (31&deg24'0" N 80&deg51'59" W)</h3>

    <p style="padding-top:20px">
        <strong>Site elevation:</strong> sea level<br />
        <strong>Air temp height:</strong> 4.4m above site elevation<br />
        <strong>Anemometer height:</strong> 4.9m above site elevation<br />
        <strong>Barometer elevation:</strong> 0.3m above mean sea level<br />
        <strong>Sea temp depth:</strong> 0.6m below water line<br />
        <strong>Water depth:</strong> 16m<br />
        <strong>Watch circle radius:</strong> 69 yards
    </p>
{% endblock content %}