{% extends "layout.html" %}
{% block content %}
    <h1>Station 41013 - Frying Pan Shoals, NC</h1>
    <h5 style="padding-top:20px">Owned and maintained by National Data Buoy Center<br />
    3-meter foam buoy<br />
    SCOOP payload<br />
    33.441 N 77.764 W (33&deg26'28" N 77&deg45'50" W)</h5>

    <p style="padding-top:20px">
        <strong>Site elevation:</strong> sea level<br />
        <strong>Air temp height:</strong> 3.7m above site elevation<br />
        <strong>Anemometer height:</strong> 4.1m above site elevation<br />
        <strong>Barometer elevation:</strong> 2.7m above mean sea level<br />
        <strong>Sea temp depth:</strong> 1.5m below water line<br />
        <strong>Water depth:</strong> 33m<br />
        <strong>Watch circle radius:</strong> 78 yards
    </p>
{% endblock content %}