{% extends "layout.html" %}
{% block content %}
    <h1>Station 44013 - BOSTON 16 NM East of Boston, MA</h1>
    <h5 style="padding-top:20px">Owned and maintained by National Data Buoy Center<br />
    2.1-meter foam buoy<br />
    SCOOP payload<br />
    42.346 N 70.651 W (42&deg20'44" N 70&deg39'4" W)</h5>

    <p style="padding-top:20px">
        <strong>Site elevation:</strong> sea level<br />
        <strong>Air temp height:</strong> 2.8m above site elevation<br />
        <strong>Anemometer height:</strong> 3.2m above site elevation<br />
        <strong>Barometer elevation:</strong> 1.8m above mean sea level<br />
        <strong>Sea temp depth:</strong> 1.1m below water line<br />
        <strong>Water depth:</strong> 64.6m<br />
        <strong>Watch circle radius:</strong> 122 yards
    </p>
{% endblock content %}