<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Andrew Davison, Zhangping Wei, John Wei, UNCW, display prediction results of Eastern United States NOAA wind wave data.">
    <meta name="keywords" content="coastal engineering, coastal modeling, coastal forecast, machine learning, LSTM, neural networks">
    <meta name="author" content="Andrew Davison">
    <meta http-equiv="refresh" content="60">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Set page title -->
    {% if title %}
        <title>Coastal Forecasting - {{ title }}</title>
    {% else %}
        <title>Coastal Forecasting</title>
    {% endif %}
</head>
<body>
<!-- Page header -->
<div class="jumbotron" style="background-color: #FFFFFF; padding: 30px">
    <div class="row">
        <div class="col-xs-3" style="height: 145px; text-align: center">
            <a href="https://uncw.edu/phy/prospective/coastalengineering.html">
                <img src="../static/logo.png" alt="logo" style="max-height: 120%; max-width: 120%">
            </a>
        </div>
        <div class="col-xs-9">
            <h1 style="color: #01806e"><i>US Atlantic Coastal Forecast</i></h1>
            <h3 style="color: #01806e">
                <i>An AI-based nearshore wave forecast using recurrent neural network model
                    <a href="https://www.sciencedirect.com/science/article/abs/pii/S0029801821010234" target="_blank">
                        (Wei, 2021)</a>.
                </i>
            </h3>
        </div>
    </div>
</div>

<!-- main body -->
<div id="main_body" class="row" style="padding-left: 30px">
    <div class="col-xs-8">
        <!-- Station information -->
        {% block content %}{% endblock %}
        <br /><h2 style="color: blue"><strong>Select station on the map you wish to view >>> </strong></h2>
    </div>
    <!-- Interactive map -->
    <div class="col-sm-4">
        <img src="../static/map.png" alt="map" usemap="#map">
    </div>
    <map name="map">
        <area id="canaveral" shape="rect" coords="90, 400, 150, 420" alt="41009" href="41009">
        <area id="grays_reef" shape="rect" coords="80, 340, 140, 360" alt="41008" href="41008">
        <area id="frying_pan" shape="rect" coords="130, 290, 190, 320" alt="41013" href="41013">
        <area id="boston" shape="rect" coords="250, 110, 310, 130" alt="44013" href="44013">
    </map>
</div>

<!-- Prediction plot -->
<div id="plot" class="text-center" style="padding-top: 12px">
    <h3>Last prediction time: {{ current }} UTC
        &emsp;&#09;&emsp;&#09;&emsp;&#09;&emsp;&#09;&emsp;&#09;&emsp;
        Next prediction time: {{ next }} UTC
    </h3>
    <div>
        <img src="{{ url_for('static', filename=title+'_system_prediction.png') }}" alt="PredPlot"
             style="padding-left: 12px; padding-right: 12px; height: 100%; width: 100%; object-fit: contain">
    </div>
</div>

<!-- Footer -->
<!-- how to update the copyright note, https://kerstinmartin.com/blog/copyright-notice -->
<footer class="footer py-4" style="padding-left: 30px">
    <div class="row align-items-center">
        <div class="text-align">Copyright &copy; <script>document.write(new Date().getFullYear().toString())</script>
            Andrew Davison. All rights reserved. This work was supervised and supported by
            <a href="http://people.uncw.edu/weiz/index.html">Dr. Zhangping Wei </a>.
        </div>
    </div>
</footer>
</body>
</html>
